<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dojo Forum</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, voluptatibus.</p>
  </div>
</div>