<div class="col-xs-12 clearfix">
  <div class="col-xs-12 col-sm-12 col-md-3 text-center float-left height-200">
    <%= image_tag @user.check_avatar(@user), class: "profile-size"%>
    <p><%= @user.name%></p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 float-left container-table height-200">
    <div class="container-table-cell">
      <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sit laborum itaque porro numquam ipsa vero nihil ducimus totam incidunt pariatur odio, sapiente accusamus. Officiis suscipit fugit dolorum, a autem.
      </div>
    </div>
  </div>
</div>

