<div class="col-xs-12 col-md-3 text-center float-left">
  <%= image_tag user.check_avatar(user), class: "profile-size"%>
  <p class="text-center"><%= user.name%></p>
  <p class="text-center"><%= user.id%></p>
</div>